<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>>Ordinary School</title>
</head>
<body>
    <div class="container text-center h1">    
        <div>
            <h1>The new student</h1>
        </div>
    </div>
            <p>
                name: <span th:text="${alumno.nombre}" />
            </p>
            <p>
                surname: <span th:text="${alumno.apellido}" />
            </p>
            <p>
                dni: <span th:text="${alumno.dni}" />
            </p>
            <p>
                file: <span th:text="${alumno.legajo}" />
            </p>
    </div>
    <div>
    	<a href="http://localhost:8080/">Back to Home</a>
    </div>
</body>
</html>