<form action="#" th:action="@{add}" th:object="${alumno}" method="post">
    <p> Nombre: <input type="text" th:field="*{nombre}"/></p>
    <p> apellido: <input type="text" th:field="*{apellido}"/></p>
    <p> dni: <input type="text" th:field="*{dni}"/></p>
    <p th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">hay un error con el dni</p>
    <p> legajo: <input type="text" th:field="*{legajo}"/></p>
     <p th:if="${#fields.hasErrors('legajo')}" th:errors="*{legajo}">hay un error con el dni</p>
    <input type="submit">
</form>