<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>Ordinary School</title>
</head>
<body>
    <div class="container">    
        <thead class="thead-dark">

            <table>
                <tr>
                    <th>name</th>
                    <th>surname</th>
                    <th>dni</th>
                    <th>file</th>
                </tr>
            </table>
        </thead>
        <tbody>
            <th:block th:each="studentt: ${entity}">
            <tr>
                <td>[[${entity.dni}]]</td> 

            </tr>
            </th:block>

        </tbody>
    </div>
</body>
</html>